@tailwind base;
@tailwind components;
@tailwind utilities;


/* inside your style.css or a new global css */
.fade-up-start {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.9s ease-out;
}

.fade-up-end {
  opacity: 1;
  transform: translateY(0px);
}

:root {
  --sand:  36 26% 75%;
  --cream: 36 35% 92%; 
  --shadow: 28 21% 19%;
  --card-foreground: 35 15% 30%; 
  --clay: 33 19% 45%;   /* example color */
}
.bg-cream\/10 {
  background-color: hsl(var(--cream) / 0.1);
}
/* Custom background utility */
.bg-sand {
  background-color: hsl(var(--sand));
}
.bg-clay {
  background-color: hsl(var(--clay));
}
.bg-cream {
  background-color: hsl(var(--cream));
}

.border-custom {
  border-color: hsl(var(--border));
}
.bg-shadow {
  background-color: hsl(var(--shadow));
}
.text-cream {
  color: hsl(var(--cream));
}
.card-foreground {
  color: hsl(var(--card-foreground));
}

@media (max-width: 640px) {
  a[aria-label="Chat on WhatsApp"] {
    right: 1rem;
    bottom: 1rem;
    width: 56px;
    height: 56px;
  }
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  scrollbar-width: none;
}
